# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Load Secrets
        uses: secrethub/actions/env-export@v0.2.1
        env:
            SECRETHUB_CREDENTIAL: ${{ secrets.SECRETHUB }}
            MY_TOKEN: secrethub://marton/test/aaa
      - run: echo $MY_TOKEN
